{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./shop.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <title>Document</title>

  <style>
    /* 네비게이션 바 배경색, 폰트, 여백 등 스타일 지정 */
    .navbar {
      background-color: #FFFFFF; /* 배경색 */
      font-family: 'Arial', sans-serif; /* 폰트 */
      padding: 10px 0; /* 위아래 여백 */
    }

    .nav-item{
      margin-right: 20px;
    }
    
    .nav-item.active .nav-link {
      color: #007bff;
      font-weight: bold;
    }

    .navbar-brand {
      font-weight: bold; /* 로고 텍스트 굵게 */
      color: #007bff; /* 로고 텍스트 색상 */
      font-size: 1.5rem; /* 로고 텍스트 사이즈 */
    }

    
    .navbar-nav .nav-item {
      border-bottom: 1px solid #ddd; /* 목록 항목들의 하단에 선 추가 */
      padding: 10px 20px; /* 각 목록 항목의 상하 여백 및 좌우 여백 설정 */
    }

    .navbar-nav .nav-link {
      color: #333; /* 메뉴 항목 텍스트 색상 */
      font-weight: bold; /* 메뉴 항목 텍스트 굵게 */
    }

    /* 폼 요소들의 간격 조정 */
    form {
      margin-bottom: 20px;
    }

    /* 선택 박스 스타일 변경 */
    select {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    div {
      text-align: center /* 텍스트 가운데 정렬 */
    }
      

    /* 제출 버튼 디자인 변경 */
    input[type="submit"] {
      padding: 8px 15px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    /* 결과 테이블 */
    table {
      margin-left:auto; 
      margin-right:auto;
    }
  
    table, td, th {
      border-collapse : collapse;
      border : 1px solid black;
    }

    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    main {
      flex: 1;
    }

  
  </style>
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid">
    <a class="navbar-brand ms-5" href="http://127.0.0.1:8000/advertisement/"><Strong>AdTarget</Strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar1">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/advertisement/service/">서비스 소개</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/advertisement/data/">데이터 소개 및 현황 분석</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/advertisement/service1">고객별 맞춤형 광고 알고리즘</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/advertisement/service2">서비스별 타겟 고객 및 광고 송출 서비스 추천</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  <header>
    <div style="background-color: #CEECF5;" class="text-center w-100 p-2">
      <h1><Strong style="font-size: 1.5rem;">데이터 소개 및 현황 분석</Strong></h1>
  </div>
    <div class="container mt-5 md-4 mb-5" style="width: 800px;">
      <div class="row">
        <div class="col-12 border rounded border-primary border-2">
          <p class="mt-5 mb-5" style="font-size: 17px;">
            자치구별 연령대에 따른 인구 총합, 자치구별 성별 연령대에 따른 인구 총합, 게임, 금융, 배달, 넷플릭스, 동영상/방송, 유튜브, 쇼핑 등 다양한 서비스와 연령대 간의 상관관계를 비교하는 히트맵, 그리고 자치구별 남녀 각각 평균 연령대와 총인구 평균 연령대를 지도 그래프로 보여주는 서비스입니다.
          </p>
          <p>본 서비스는 서울특별시의 공식 데이터 플랫폼인 '서울열린데이터광장'에서 제공하는 '서울생활인구' 데이터를 기반으로 합니다. 해당 데이터는 서울시민들의 생활 현황을 정교하게 표현하며, 이를 통해 우리는 자치구별, 연령대별, 성별별 인구 수와 같은 다양한 인구 통계 정보를 얻을 수 있습니다.</p>
          <p>
            또한, 이 데이터를 활용하여 다양한 서비스와 연령대 간의 상관관계를 분석하였습니다. 이를 통해 게임, 금융, 배달, 넷플릭스, 동영상/방송, 유튜브, 쇼핑 등의 서비스 이용 패턴이 연령대와 지역에 따라 어떻게 변화하는지를 파악할 수 있었습니다.
          </p>
          <p class="mb-5">뿐만 아니라, 자치구별 남녀 각각의 평균 연령대와 총인구 평균 연령대를 지도 그래프로 시각화하여, 서울시민들의 연령 분포와 그 변화를 쉽게 파악할 수 있도록 하였습니다.
            정보의 출처는 '서울열린데이터광장'의 '서울생활인구' 섹션입니다. 자세한 정보는 아래의 <a href="https://data.seoul.go.kr/dataVisual/seoul/seoulLiving.do" target="_blank">링크</a>를 통해 확인하실 수 있습니다.
          </p>
        </div>
      </div>
    </div>
</header>

<section class="d-flex flex-column justify-content-center align-items-center mt-3">
  <div class="container">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">자치구 연령대별 인구 총합</a>
    <div id="collapseOne" class="collapse">
      <div class="row">
        <div class="col-md-6 photo-item">
            <img src="{% static 'image/district_20.png'%}" alt="자치구별 20대 인구 총합">
        </div>
        <div class="col-md-6 photo-item">
            <img src="{% static 'image/district_30.png'%}" alt="자치구별 30대 인구 총합">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 photo-item">
            <img src="{% static 'image/district_40.png'%}" alt="자치구별 40대 인구 총합">
        </div>
        <div class="col-md-6 photo-item">
          <img src="{% static 'image/district_50.png'%}" alt="자치구별 50대 인구 총합">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 photo-item">
            <img src="{% static 'image/district_60.png'%}" alt="자치구별 60대 인구 총합">
        </div>
        <div class="col-md-6 photo-item">
            <img src="{% static 'image/district_70.png'%}" alt="자치구별 70대 인구 총합">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="multiCollapseExample2">자치구 연령대별 남성 인구 총합</button>
    <div id="collapseTwo" class="collapse">
      <div class="row">
        <div class="col-md-6 photo-item">
            <img src="{% static 'image/district_m_20.png'%}" alt="자치구별 20대 남성 인구 총합">
        </div>
        <div class="col-md-6 photo-item">
            <img src="{% static 'image/district_m_30.png'%}" alt="자치구별 30대 남성 인구 총합">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 photo-item">
            <img src="{% static 'image/district_m_40.png'%}" alt="자치구별 40대 남성 인구 총합">
        </div>
        <div class="col-md-6 photo-item">
            <img src="{% static 'image/district_m_50.png'%}" alt="자치구별 50대 남성 인구 총합">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 photo-item">
            <img src="{% static 'image/district_m_60.png'%}" alt="자치구별 60대 남성 인구 총합">
        </div>
        <div class="col-md-6 photo-item">
            <img src="{% static 'image/district_m_70.png'%}" alt="자치구별 70대 남성 인구 총합">
        </div>
      </div>
    </div>

    <div class="container">
      <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">자치구 연령대별 여성 인구 총합</button>
      <div id="collapseThree" class="collapse">
        <div class="row">
          <div class="col-md-6 photo-item">
              <img src="{% static 'image/district_f_20.png'%}" alt="자치구별 20대 여성 인구 총합">
          </div>
          <div class="col-md-6 photo-item">
              <img src="{% static 'image/district_f_30.png'%}" alt="자치구별 30대 여성 인구 총합">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 photo-item">
              <img src="{% static 'image/district_f_40.png'%}" alt="자치구별 40대 여성 인구 총합">
          </div>
          <div class="col-md-6 photo-item">
              <img src="{% static 'image/district_f_50.png'%}" alt="자치구별 50대 여성 인구 총합">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 photo-item">
              <img src="{% static 'image/district_f_60.png'%}" alt="자치구별 60대 여성 인구 총합">
          </div>
          <div class="col-md-6 photo-item">
              <img src="{% static 'image/district_f_70.png'%}" alt="자치구별 70대 여성 인구 총합">
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">서비스별 상관관계</button>
      <div id="collapseFour" class="collapse">
        <div class="row">
          <div class="col-md-6 photo-item">
              <img src="{% static 'image/hmap_20.png'%}" style="width: 600px;" alt="20대의 각 서비스 별 상관관계">
          </div>
          <div class="col-md-6 photo-item">
              <img src="{% static 'image/hmap_30.png'%}" style="width: 600px;" alt="30대의 각 서비스 별 상관관계">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 photo-item">
              <img src="{% static 'image/hmap_40.png'%}" style="width: 600px;" alt="40대의 각 서비스 별 상관관계">
          </div>
          <div class="col-md-6 photo-item">
              <img src="{% static 'image/hmap_50.png'%}" style="width: 600px;" alt="50대의 각 서비스 별 상관관계">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 photo-item">
              <img src="{% static 'image/hmap_60.png'%}" style="width: 600px;" alt="60대의 각 서비스 별 상관관계">
          </div>
          <div class="col-md-6 photo-item">
              <img src="{% static 'image/hmap_70.png'%}" style="width: 600px;" alt="70대의 각 서비스 별 상관관계">
          </div>
        </div>
      </div>
    </div>
    
  <div class="container">
    <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive">자치구별 평균연령</button>
    <div id="collapseFive" class="collapse">
      <div class="photo-item">
          <img src="{% static 'image/seoul_map.png'%}" style="width: 700px;" alt="자치구별 종합 평균연령">
          <p class="photo-title">자치구별 종합 평균연령</p>
      </div>
      <div class="photo-item">
          <img src="{% static 'image/m_seoul_map.png'%}" style="width: 700px;" alt="자치구별 남자 평균연령">
          <p class="photo-title">자치구별 남자 평균연령</p>
      </div>
      <div class="photo-item">
          <img src="{% static 'image/f_seoul_map.png'%}" style="width: 700px;" alt="자치구별 여자 평균연령">
          <p class="photo-title">자치구별 여자 평균연령</p>
      </div>
  </div>
    
</section>


  <footer class="text-center mt-4">
    <h1 style="font-size: 15px; color: gray;">데이터 분석&엔지니어 취업캠프(Python) 30회차</h1>
    <h2 style="font-size: 15px; color: gray;">문제해결 빅데이터 활용 프로젝트</h2>
    <h3 style="font-size: 15px; color: gray;">상부3조(최현민, 정혜원, 김수연, 김현, 최수정)</h3>

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>